<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Please select a file ...</p>
    <p>
    	<form action="/" method="POST" enctype="multipart/form-data">
    		<input type="file" name="pdfFile"><br>
    		<input type="submit" name="input" value="submit">
    	</form>
    </p>
  </body>
</html>
